

.text-center{
  margin-top: 20%;
 margin-left: 15%;
 
}
div img { 
border-radius: 75%;

}
div  {
  margin-top: 10%;

}
nav a:hover {
  color: white;
  font-size: 200%;
}

nav a {
  color: black;
  font-size: 150%;
  padding: 0px;
  text-decoration: none;
}

nav {
  width: fit-content;
  margin: auto;
  padding-top: 30px;
  position: sticky;
  top: 30px;
}

/* @media (min-width: 750px) {

